<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Component | Form</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/dest/css/acs.css">

<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/script.js"></script>
</head>
<body>
  <div class="acs-site acs-site--limit-size_hoge">
    <div class="acs-site__container">
      <div class="acs-site-banner">
        <a class="acs-site-banner__link" href="/">
          <span class="acs-site-banner__logo-icon icon-logo-ac-mono">
            <span class="path1"></span><span class="path2"></span>
          </span>
          <span class="acs-logo-text acs-logo-inverse">ADVANCE CODE</span>
        </a>
        <a class="acs-site__btn-menu" href="javascript:void(0);"><span>menu</span></a>
      </div>

      <header class="acs-site__header">
        <h1 class="acs-site__title">
<!--
          <span class="icon-logo-ac">
            <span class="path1"></span><span class="path2"></span>
          </span>
          &nbsp;
-->
          Component | Form        </h1>
        <div class="acs-site__lead">
          <div class="acs-site__lead-container">
            フォーム要素です。
          </div>
        </div>
      </header>

      <div class="acs-site-content">
        

<!-- Basic Elements -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Basic Elements</h2>
  <div class="acs-small">
    基本的なフォーム要素群です。特別なクラス名を指定しない通常のHTMLマークアップ状態でのスタイル例です。
  </div>

  <section class="acs-section">
    <h3>Text Field</h3>

    <dl>
      <dt>通常</dt>
      <dd>
        <input type="text" placeholder="text">
        <input type="password" placeholder="password">
        <input type="search" placeholder="search">
        <input type="tel" placeholder="tel">
        <input type="url" placeholder="url">
        <input type="email" placeholder="email">
        <input type="datetime" placeholder="datetime">
        <input type="date" placeholder="date">
        <input type="month" placeholder="month">
        <input type="week" placeholder="week">
        <input type="time" placeholder="time">
        <input type="datetime-local" placeholder="datetime-local">
        <input type="number" placeholder="number">
        <textarea placeholder="textarea"></textarea>
      </dd>
    </dl>

    <dl>
      <dt>読み取り専用</dt>
      <dd>
        <input type="text" placeholder="text" value="入力内容" readonly>
        <textarea placeholder="textarea" readonly>入力内容が入ります。</textarea>
      </dd>
    </dl>

    <dl>
      <dt>操作無効</dt>
      <dd>
        <input type="text" placeholder="text" value="入力内容" disabled>
        <textarea placeholder="textarea" disabled>入力内容が入ります。</textarea>
      </dd>
    </dl>
  </section>

  <section class="acs-section">
    <h3>Choice</h3>

    <dl>
      <dt>通常</dt>
      <dd>
        <input type="checkbox" name="checkbox-1" value="1">
        <input type="checkbox" name="checkbox-1" value="2" checked="checked">
        <input type="radio" name="radio-1" value="1">
        <input type="radio" name="radio-1" value="2" checked="checked">
        <select name="multiple-select-1" multiple>
          <option value="1">選択肢1</option>
          <option value="2" selected="selected">選択肢2</option>
          <option value="3">選択肢3</option>
        </select>
      </dd>
    </dl>

    <dl>
      <dt>操作無効</dt>
      <dd>
        <input type="checkbox" name="checkbox-2" value="1" disabled>
        <input type="checkbox" name="checkbox-2" value="2" checked="checked" disabled>
        <input type="radio" name="radio-2" value="1" disabled>
        <input type="radio" name="radio-2" value="2" checked="checked" disabled>
        <select name="multiple-select-2" multiple disabled>
          <option value="1">選択肢1</option>
          <option value="2" selected="selected">選択肢2</option>
          <option value="3">選択肢3</option>
        </select>
      </dd>
    </dl>
  </section>

  <section class="acs-section">
    <h3>Pulldown</h3>

    <dl>
      <dt>通常</dt>
      <dd>
        <select name="select-1">
          <option value="1">選択肢1</option>
          <option value="2">選択肢2</option>
          <option value="3">選択肢3</option>
        </select>
      </dd>
    </dl>

    <dl>
      <dt>操作無効</dt>
      <dd>
        <select name="select-2" disabled>
          <option value="1">選択肢1</option>
          <option value="2">選択肢2</option>
          <option value="3">選択肢3</option>
        </select>
      </dd>
    </dl>
  </section>

  <section class="acs-section">
    <h3>Picker</h3>

    <dl>
      <dt>通常</dt>
      <dd>
        <input type="color" name="color-1">
        <input type="file" name="file-1">
      </dd>
    </dl>

    <dl>
      <dt>操作無効</dt>
      <dd>
        <input type="color" name="color-2" disabled>
        <input type="file" name="file-2" disabled>
      </dd>
    </dl>
  </section>
</section>



<!-- Text Field -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Text Field</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <div class="acs-form-element">
    <label class="acs-form-element__label" for="el-text-1">Input Label</label>
    <div class="acs-form-element__control">
      <input id="el-text-1" type="text" placeholder="text" value="">
    </div>
  </div>

  <div class="acs-form-element">
    <label class="acs-form-element__label" for="el-text-2">Textarea Label</label>
    <div class="acs-form-element__control">
      <textarea id="el-text-2" placeholder="textarea"></textarea>
    </div>
  </div>
</section>

<!-- Radio -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Radio</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <fieldset class="acs-form-element">
    <legend class="acs-form-element__label">Radio Group Label</legend>
    <div class="acs-form-element__control">
      <div class="acs-choice--group">
        <span class="acs-choice">
          <input type="radio" id="el-radio-1-1" name="el-radio-1">
          <label class="acs-choice__label" for="el-radio-1-1">
            <span class="acs-choice--faux"></span>
            <span class="acs-form-element__label">Radio Label One</span>
          </label>
        </span>
        <span class="acs-choice">
          <input type="radio" id="el-radio-1-2" name="el-radio-1">
          <label class="acs-choice__label" for="el-radio-1-2">
            <span class="acs-choice--faux"></span>
            <span class="acs-form-element__label">Radio Label One</span>
          </label>
        </span>
      </div>
    </div>
  </fieldset>
</section>

<!-- Radio Inline -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Radio Inline</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <fieldset class="acs-form-element">
    <legend class="acs-form-element__label">Radio Group Label</legend>
    <div class="acs-form-element__control">
      <div class="acs-choice--group acs-choice--group-inline">
        <span class="acs-choice">
          <input type="radio" id="el-radio-inline-1-1" name="el-radio-inline-1">
          <label class="acs-choice__label" for="el-radio-inline-1-1">
            <span class="acs-choice--faux"></span>
            <span class="acs-form-element__label">Radio Label One</span>
          </label>
        </span>
        <span class="acs-choice">
          <input type="radio" id="el-radio-inline-1-2" name="el-radio-inline-1">
          <label class="acs-choice__label" for="el-radio-inline-1-2">
            <span class="acs-choice--faux"></span>
            <span class="acs-form-element__label">Radio Label One</span>
          </label>
        </span>
      </div>
    </div>
  </fieldset>
</section>

<!-- Radio Group Alternate -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Radio Group Alternate</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <fieldset class="acs-form-element">
    <legend class="acs-form-element__label">Radio Group Label</legend>
    <div class="acs-form-element__control">
      <div class="acs-choice--btn-group acs-btn-group">
        <label class="acs-choice-btn acs-btn">
          <input type="radio" name="el-radio-2">
          <span class="acs-choice__label">Mon</span>
        </label>
        <label class="acs-choice-btn acs-btn">
          <input type="radio" name="el-radio-2">
          <span class="acs-choice__label">Tue</span>
        </label>
        <label class="acs-choice-btn acs-btn">
          <input type="radio" name="el-radio-2">
          <span class="acs-choice__label">Wed</span>
        </label>
        <label class="acs-choice-btn acs-btn">
          <input type="radio" name="el-radio-2">
          <span class="acs-choice__label">Thu</span>
        </label>
        <label class="acs-choice-btn acs-btn">
          <input type="radio" name="el-radio-2">
          <span class="acs-choice__label">Fri</span>
        </label>
      </div>
    </div>
  </fieldset>
</section>

<!-- Checkbox -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Checkbox</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <fieldset class="acs-form-element">
    <legend class="acs-form-element__label">Checkbox Group Label</legend>
    <div class="acs-form-element__control">
      <div class="acs-choice--group">
        <span class="acs-choice">
          <input type="checkbox" id="el-checkbox-1-1" name="el-checkbox-1">
          <label class="acs-choice__label" for="el-checkbox-1-1">
            <span class="acs-choice--faux"></span>
            <span class="acs-form-element__label">Checkbox Label One</span>
          </label>
        </span>
        <span class="acs-choice">
          <input type="checkbox" id="el-checkbox-1-2" name="el-checkbox-1">
          <label class="acs-choice__label" for="el-checkbox-1-2">
            <span class="acs-choice--faux"></span>
            <span class="acs-form-element__label">Checkbox Label One</span>
          </label>
        </span>
      </div>
    </div>
  </fieldset>
</section>

<!-- Checkbox Inline -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Checkbox Inline</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <fieldset class="acs-form-element">
    <legend class="acs-form-element__label">Checkbox Group Label</legend>
    <div class="acs-form-element__control">
      <div class="acs-choice--group acs-choice--group-inline">
        <span class="acs-choice">
          <input type="checkbox" id="el-checkbox-inline-1-1" name="el-checkbox-inline-1">
          <label class="acs-choice__label" for="el-checkbox-inline-1-1">
            <span class="acs-choice--faux"></span>
            <span class="acs-form-element__label">Checkbox Label One</span>
          </label>
        </span>
        <span class="acs-choice">
          <input type="checkbox" id="el-checkbox-inline-1-2" name="el-checkbox-inline-1">
          <label class="acs-choice__label" for="el-checkbox-inline-1-2">
            <span class="acs-choice--faux"></span>
            <span class="acs-form-element__label">Checkbox Label One</span>
          </label>
        </span>
      </div>
    </div>
  </fieldset>
</section>

<!-- Checkbox Group Alternate -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Checkbox Group Alternate</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <fieldset class="acs-form-element">
    <legend class="acs-form-element__label">Checkbox Group Label</legend>
    <div class="acs-form-element__control">
      <div class="acs-choice--btn-group acs-btn-group">
        <label class="acs-choice-btn acs-btn">
          <input type="checkbox" name="el-checkbox-2">
          <span class="acs-choice__label">Mon</span>
        </label>
        <label class="acs-choice-btn acs-btn">
          <input type="checkbox" name="el-checkbox-2">
          <span class="acs-choice__label">Tue</span>
        </label>
        <label class="acs-choice-btn acs-btn">
          <input type="checkbox" name="el-checkbox-2">
          <span class="acs-choice__label">Wed</span>
        </label>
        <label class="acs-choice-btn acs-btn">
          <input type="checkbox" name="el-checkbox-2">
          <span class="acs-choice__label">Thu</span>
        </label>
        <label class="acs-choice-btn acs-btn">
          <input type="checkbox" name="el-checkbox-2">
          <span class="acs-choice__label">Fri</span>
        </label>
      </div>
    </div>
  </fieldset>
</section>

<!-- Checkbox Toggle -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Checkbox Toggle</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <div class="acs-form-element">
    <label class="acs-choice--toggle">
      <span class="acs-form-element__label">Toggle Label</span>
      <input name="checkbox" type="checkbox" aria-describedby="toggle-desc">
      <span id="toggle-desc" class="acs-choice--faux_container" aria-live="assertive">
        <span class="acs-choice--faux"></span>
        <span class="acs-choice--on">Enabled</span>
        <span class="acs-choice--off">Disabled</span>
      </span>
    </label>
  </div>
</section>

<!-- Pulldown -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Pulldown</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <div class="acs-form-element">
    <label class="acs-form-element__label" for="el-select-1">Select Label</label>
    <div class="acs-form-element__control">
      <div class="acs-select_container">
        <select id="el-select-1">
          <option>Option One</option>
          <option>Option Two</option>
          <option>Option Three</option>
        </select>
      </div>
    </div>
  </div>
</section>

<!-- Horizontal Form -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Horizontal Form</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <div class="acs-form--horizontal">
    <div class="acs-form-element">
      <label class="acs-form-element__label" for="horizontal-text-1">Input Label</label>
      <div class="acs-form-element__control">
        <input id="horizontal-text-1" type="text" placeholder="text" value="">
      </div>
    </div>
    <div class="acs-form-element">
      <label class="acs-form-element__label" for="horizontal-textarea-1">Textarea Label</label>
      <div class="acs-form-element__control">
        <textarea name="horizontal-textarea-1" id="horizontal-textarea-1" placeholder="Textarea"></textarea>
      </div>
    </div>
    <div class="acs-form-element">
      <div class="acs-form-element__label">Radio Group Label</div>
      <div class="acs-form-element__control">
        <div class="acs-choice--group">
          <span class="acs-choice">
            <input type="radio" id="horizontal-radio-1-1" name="horizontal-radio-1">
            <label class="acs-choice__label" for="horizontal-radio-1-1">
              <span class="acs-choice--faux"></span>
              <span class="acs-form-element__label">Radio Label One</span>
            </label>
          </span>
          <span class="acs-choice">
            <input type="radio" id="horizontal-radio-1-2" name="horizontal-radio-1">
            <label class="acs-choice__label" for="horizontal-radio-1-2">
              <span class="acs-choice--faux"></span>
              <span class="acs-form-element__label">Radio Label One</span>
            </label>
          </span>
        </div>
      </div>
    </div>
    <div class="acs-form-element">
      <div class="acs-form-element__label">Checkbox Group Label</div>
      <div class="acs-form-element__control">
        <div class="acs-choice--group">
          <span class="acs-choice">
            <input type="checkbox" id="horizontal-checkbox-1-1" name="horizontal-checkbox-1">
            <label class="acs-choice__label" for="horizontal-checkbox-1-1">
              <span class="acs-choice--faux"></span>
              <span class="acs-form-element__label">Checkbox Label One</span>
            </label>
          </span>
          <span class="acs-choice">
            <input type="checkbox" id="horizontal-checkbox-1-2" name="horizontal-checkbox-1">
            <label class="acs-choice__label" for="horizontal-checkbox-1-2">
              <span class="acs-choice--faux"></span>
              <span class="acs-form-element__label">Checkbox Label One</span>
            </label>
          </span>
        </div>
      </div>
    </div>
    <div class="acs-form-element">
      <div class="acs-form-element__label">Toggle Label</div>
      <div class="acs-form-element__control">
        <div class="acs-choice--group">
          <label class="acs-choice--toggle">
            <span class="acs-form-element__label">With Label</span>
            <input name="checkbox" type="checkbox" aria-describedby="toggle-desc">
            <span id="toggle-desc" class="acs-choice--faux_container" aria-live="assertive">
              <span class="acs-choice--faux"></span>
              <span class="acs-choice--on">Enabled</span>
              <span class="acs-choice--off">Disabled</span>
            </span>
          </label>
          <label class="acs-choice--toggle">
            <input name="checkbox" type="checkbox" aria-describedby="toggle-desc">
            <span id="toggle-desc" class="acs-choice--faux_container" aria-live="assertive">
              <span class="acs-choice--faux"></span>
              <span class="acs-choice--on">Enabled</span>
              <span class="acs-choice--off">Disabled</span>
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="acs-form-element">
      <div class="acs-form-element__label" aria-hidden="true">&nbsp;</div>
      <div class="acs-form-element__control">
        <span class="acs-choice">
          <input type="checkbox" id="horizontal-checkbox-2-1" name="horizontal-checkbox-2">
          <label class="acs-choice__label" for="horizontal-checkbox-2-1">
            <span class="acs-choice--faux"></span>
            <span class="acs-form-element__label">利用規約に同意する</span>
          </label>
        </span>
      </div>
    </div>
  </div>
</section>

<!-- Stacked Form -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Stacked Form</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <div class="acs-form--stacked">
    <div class="acs-form-element">
      <label class="acs-form-element__label" for="stacked-text-1">Input Label</label>
      <div class="acs-form-element__control">
        <input id="stacked-text-1" type="text" placeholder="text" value="">
      </div>
    </div>
    <div class="acs-form-element">
      <label class="acs-form-element__label" for="stacked-textarea-1">Textarea Label</label>
      <div class="acs-form-element__control">
        <textarea name="stacked-textarea-1" id="stacked-textarea-1" placeholder="Textarea"></textarea>
      </div>
    </div>
    <div class="acs-form-element">
      <div class="acs-form-element__label">Radio Group Label</div>
      <div class="acs-form-element__control">
        <div class="acs-choice--group">
          <span class="acs-choice">
            <input type="radio" id="stacked-radio-1-1" name="stacked-radio-1">
            <label class="acs-choice__label" for="stacked-radio-1-1">
              <span class="acs-choice--faux"></span>
              <span class="acs-form-element__label">Radio Label One</span>
            </label>
          </span>
          <span class="acs-choice">
            <input type="radio" id="stacked-radio-1-2" name="stacked-radio-1">
            <label class="acs-choice__label" for="stacked-radio-1-2">
              <span class="acs-choice--faux"></span>
              <span class="acs-form-element__label">Radio Label One</span>
            </label>
          </span>
        </div>
      </div>
    </div>
    <div class="acs-form-element">
      <div class="acs-form-element__label">Toggle Label</div>
      <div class="acs-form-element__control">
        <div class="acs-choice--group">
          <label class="acs-choice--toggle">
            <span class="acs-form-element__label">With Label</span>
            <input name="checkbox" type="checkbox" aria-describedby="toggle-desc">
            <span id="toggle-desc" class="acs-choice--faux_container" aria-live="assertive">
              <span class="acs-choice--faux"></span>
              <span class="acs-choice--on">Enabled</span>
              <span class="acs-choice--off">Disabled</span>
            </span>
          </label>
          <label class="acs-choice--toggle">
            <input name="checkbox" type="checkbox" aria-describedby="toggle-desc">
            <span id="toggle-desc" class="acs-choice--faux_container" aria-live="assertive">
              <span class="acs-choice--faux"></span>
              <span class="acs-choice--on">Enabled</span>
              <span class="acs-choice--off">Disabled</span>
            </span>
          </label>
        </div>
      </div>
    </div>
    <div class="acs-form-element">
      <div class="acs-form-element__label">Checkbox Group Label</div>
      <div class="acs-form-element__control">
        <div class="acs-choice--group">
          <span class="acs-choice">
            <input type="checkbox" id="stacked-checkbox-1-1" name="stacked-checkbox-1">
            <label class="acs-choice__label" for="stacked-checkbox-1-1">
              <span class="acs-choice--faux"></span>
              <span class="acs-form-element__label">Checkbox Label One</span>
            </label>
          </span>
          <span class="acs-choice">
            <input type="checkbox" id="stacked-checkbox-1-2" name="stacked-checkbox-1">
            <label class="acs-choice__label" for="stacked-checkbox-1-2">
              <span class="acs-choice--faux"></span>
              <span class="acs-form-element__label">Checkbox Label One</span>
            </label>
          </span>
        </div>
      </div>
    </div>
    <div class="acs-form-element">
      <div class="acs-form-element__label" aria-hidden="true">&nbsp;</div>
      <div class="acs-form-element__control">
        <span class="acs-choice">
          <input type="checkbox" id="stacked-checkbox-2-1" name="stacked-checkbox-2">
          <label class="acs-choice__label" for="stacked-checkbox-2-1">
            <span class="acs-choice--faux"></span>
            <span class="acs-form-element__label">利用規約に同意する</span>
          </label>
        </span>
      </div>
    </div>
  </div>
</section>

<!-- Inline Form -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Inline Form</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <div class="acs-form--inline">
    <div class="acs-form-element">
      <label class="acs-form-element__label" for="inline-text-1">Name</label>
      <div class="acs-form-element__control">
        <input id="inline-text-1" type="text" placeholder="text" value="">
      </div>
    </div>
    <div class="acs-form-element">
      <label class="acs-form-element__label" for="inline-text-2">Email</label>
      <div class="acs-form-element__control">
        <input id="inline-text-2" type="text" placeholder="text" value="">
      </div>
    </div>
    <div class="acs-form-element">
      <div class="acs-form-element__label" aria-hidden="true">&nbsp;</div>
      <div class="acs-form-element__control">
        <button type="button" class="acs-btn acs-btn--sm acs-btn-primary">Send</button>
      </div>
    </div>
  </div>
</section>

<!-- Compound Form -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Compound Form</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <fieldset class="acs-form--compound">
    <legend class="acs-form-element__label acs-text-title--caps">Location</legend>
    <div class="acs-form-element__group">
      <div class="acs-form-element__row">
        <div class="acs-form-element acs-size--1-2">
          <label class="acs-form-element__label" for="compound-text-1">Latitude</label>
          <div class="acs-form-element__control">
            <input id="compound-text-1" type="text" placeholder="text" value="">
          </div>
        </div>
        <div class="acs-form-element acs-size--1-2">
          <label class="acs-form-element__label" for="compound-text-2">Longitude</label>
          <div class="acs-form-element__control">
            <input id="compound-text-2" type="text" placeholder="text" value="">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
  <fieldset class="acs-form--compound">
    <legend class="acs-form-element__label acs-text-title--caps">ADDRESS</legend>
    <div class="acs-form-element__group">
      <div class="acs-form-element__row">
        <div class="acs-form-element acs-size--1-1">
          <label class="acs-form-element__label" for="compound-text-3">Street</label>
          <div class="acs-form-element__control">
            <input id="compound-text-3" type="text" placeholder="text" value="">
          </div>
        </div>
      </div>
      <div class="acs-form-element__row">
        <div class="acs-form-element acs-size--1-2">
          <label class="acs-form-element__label" for="compound-text-4">City</label>
          <div class="acs-form-element__control">
            <input id="compound-text-4" type="text" placeholder="text" value="">
          </div>
        </div>
        <div class="acs-form-element acs-size--1-2">
          <label class="acs-form-element__label" for="compound-text-5">State</label>
          <div class="acs-form-element__control">
            <input id="compound-text-5" type="text" placeholder="text" value="">
          </div>
        </div>
      </div>
      <div class="acs-form-element__row">
        <div class="acs-form-element acs-size--1-1">
          <label class="acs-form-element__label" for="compound-text-6">ZIP Code</label>
          <div class="acs-form-element__control">
            <input id="compound-text-6" type="text" placeholder="text" value="">
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</section>

<!-- Button Group -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Button Group</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <div class="acs-form-element">
    <label class="acs-form-element__label" for="button-text-1">Text Label</label>
    <div class="acs-form-element__control">
      <div class="acs-form-element__btn_group">
        <input id="button-text-1" type="text" placeholder="Field Level Help" value="">
        <button class="acs-btn acs-btn--icon" type="button">ボタン</button>
      </div>
    </div>
  </div>

  <div class="acs-form-element">
    <label class="acs-form-element__label" for="button-text-1">Text Label</label>
    <div class="acs-form-element__control">
      <div class="acs-form-element__btn_group">
        <input id="button-text-1" type="text" placeholder="Field Level Help" value="">
        <button class="acs-btn acs-btn--icon" type="button"><span class="icon-search"></span></button>
      </div>
    </div>
  </div>

  <div class="acs-form-element">
    <label class="acs-form-element__label" for="button-text-1">Text Label</label>
    <div class="acs-form-element__control">
      <div class="acs-form-element__btn_group">
        <input id="button-text-1" type="text" placeholder="Field Level Help" value="">
        <button class="acs-btn acs-btn-primary acs-btn--icon" type="button"><span class="icon-file"></span></button>
      </div>
    </div>
  </div>
</section>

<!-- Field Level Help -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Field Level Help</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <div class="acs-form-element">
    <label class="acs-form-element__label" for="help-text-1">
      Text Label
      <a class="acs-form-element__label_icon icon-info-circle" href="javascript:void(0);"></a>
    </label>
    <div class="acs-form-element__control">
      <input id="help-text-1" type="text" placeholder="Field Level Help" value="" aria-describedby="help">
    </div>
  </div>
</section>

<!-- File Uploader -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">File Uploader</h2>
  <div class="acs-small">
    テキストが入ります。テキストが入ります。
  </div>

  <div class="acs-form-element">
    <label class="acs-form-element__label" for="uploader-0">ドラッグ利用できない時</label>
    <div class="acs-form-element__control">
      <div class="acs-form-uploader">
        <div class="acs-form-uploader__input">
          <span class="acs-form-uploader__image icon-download"></span>
          <input class="acs-form-uploader__file" type="file" name="files[]" id="uploader-0" data-multiple-caption="{count} files selected" multiple>
          <label class="acs-form-element__label" for="uploader-0">
            <strong>ファイルを選択</strong>
            <span class="acs-form-uploader__dragndrop"> もしくはここにドラッグ＆ドロップします</span>
          </label>
          <button class="acs-form-uploader__btn acs-btn acs-btn-primary" type="submit">Upload</button>
        </div>
        <div class="acs-form-uploader__container">
          <div class="acs-form-uploader__file_list">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="acs-form-element">
    <label class="acs-form-element__label" for="uploader-1">ドラッグできる時</label>
    <div class="acs-form-element__control">
      <div class="acs-form-uploader has-advanced-upload ">
        <div class="acs-form-uploader__input">
          <span class="acs-form-uploader__image icon-download"></span>
          <input class="acs-form-uploader__file" type="file" name="files[]" id="uploader-1" data-multiple-caption="{count} files selected" multiple>
          <label class="acs-form-element__label" for="uploader-1">
            <strong>ファイルを選択</strong>
            <span class="acs-form-uploader__dragndrop"> もしくはここにドラッグ＆ドロップします</span>
          </label>
          <button class="acs-form-uploader__btn acs-btn acs-btn-primary" type="submit">Upload</button>
        </div>
        <div class="acs-form-uploader__container">
          <div class="acs-form-uploader__file_list">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="acs-form-element">
    <label class="acs-form-element__label" for="uploader-2">ドラッグ中の時</label>
    <div class="acs-form-element__control">
      <div class="acs-form-uploader has-advanced-upload is-dragover">
        <div class="acs-form-uploader__input">
          <span class="acs-form-uploader__image icon-download"></span>
          <input class="acs-form-uploader__file" type="file" name="files[]" id="uploader-2" data-multiple-caption="{count} files selected" multiple>
          <label class="acs-form-element__label" for="uploader-2">
            <strong>ファイルを選択</strong>
            <span class="acs-form-uploader__dragndrop"> もしくはここにドラッグ＆ドロップします</span>
          </label>
          <button class="acs-form-uploader__btn acs-btn acs-btn-primary" type="submit">Upload</button>
        </div>
        <div class="acs-form-uploader__container">
          <div class="acs-form-uploader__file_list">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="acs-form-element">
    <label class="acs-form-element__label" for="uploader-3">アップロード中の時</label>
    <div class="acs-form-element__control">
      <div class="acs-form-uploader has-advanced-upload state-uploading">
        <div class="acs-form-uploader__input">
          <span class="acs-form-uploader__image icon-download"></span>
          <input class="acs-form-uploader__file" type="file" name="files[]" id="uploader-3" data-multiple-caption="{count} files selected" multiple>
          <label class="acs-form-element__label" for="uploader-3">
            <strong>ファイルを選択</strong>
            <span class="acs-form-uploader__dragndrop"> もしくはここにドラッグ＆ドロップします</span>
          </label>
          <button class="acs-form-uploader__btn acs-btn acs-btn-primary" type="submit">Upload</button>
        </div>
        <div class="acs-form-uploader__container">
          <div class="acs-form-uploader__file_list">
            <div class="acs-form-uploader__file_info state-uploading">
              <div class="acs-form-uploader__file_name">ファイル1.txt</div>
              <div class="acs-form-uploader__file_size">10Mb</div>
              <div class="acs-form-uploader__file_progress"><div class="acs-progress acs-progress-primary" data-value="0" data-max="100" data-percent="0"></div></div>
              <div class="acs-form-uploader__file_state">アップロード中</div>
              <div class="acs-form-uploader__file_actions">
                <a href="javascript:void(0);">キャンセル</a>
              </div>
            </div>
            <div class="acs-form-uploader__file_info state-error">
              <div class="acs-form-uploader__file_name">ファイル2.txt</div>
              <div class="acs-form-uploader__file_size">10Mb</div>
              <div class="acs-form-uploader__file_progress"><div class="acs-progress acs-progress-danger" data-value="10" data-max="100" data-percent="10"></div></div>
              <div class="acs-form-uploader__file_state">失敗しました</div>
              <div class="acs-form-uploader__file_actions">
                <a href="javascript:void(0);">削除</a>
              </div>
            </div>
            <div class="acs-form-uploader__file_info state-uploading">
              <div class="acs-form-uploader__file_name">ファイル3.zip</div>
              <div class="acs-form-uploader__file_size">500Mb</div>
              <div class="acs-form-uploader__file_progress"><div class="acs-progress acs-progress-primary" data-value="50" data-max="100" data-percent="50"></div></div>
              <div class="acs-form-uploader__file_state">アップロード中</div>
              <div class="acs-form-uploader__file_actions">
                <a href="javascript:void(0);">キャンセル</a>
              </div>
            </div>
            <div class="acs-form-uploader__file_info state-uploaded">
              <div class="acs-form-uploader__file_name">ファイル4 ファイル4 ファイル4.torrent</div>
              <div class="acs-form-uploader__file_size">1000Mb</div>
              <div class="acs-form-uploader__file_progress"><div class="acs-progress acs-progress-primary" data-value="100" data-max="100" data-percent="100"></div></div>
              <div class="acs-form-uploader__file_state">完了しました</div>
              <div class="acs-form-uploader__file_actions">
                <a href="javascript:void(0);">削除</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
      </div>

      <nav class="acs-site-navigation acs-theme-inverse">
  <div class="acs-site-navigation__inner">
    <p>text</p>
    <ul class="acs-site-menu">
      <li class="acs-site-menu__item">
        <a href="/">Top</a>
      </li>
      <li class="acs-site-menu__item has-child">
        <a href="javascript:void(0);">Layout</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/layout/themes/">Themes</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/grid/">Grid</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/sizing/">Sizing</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/spacing/">Spacing</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/floats/">Floats</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/alignment/">Alignment</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/visibility/">Visibility</a></li>
        </ul>
      </li>
      <li class="acs-site-menu__item has-child">
        <a href="javascript:void(0);">Element</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/element/hoge/">リンク</a></li>
          <li class="acs-site-sub-menu__item"><a href="/element/hoge/">リンク</a></li>
        </ul>
      </li>
      <li class="acs-site-menu__item is-active has-child">
        <a href="javascript:void(0);">Component</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item is-active"><a href="/component/form/">Form</a></li>
          <li class="acs-site-sub-menu__item"><a href="/component/button/">Button</a></li>
          <li class="acs-site-sub-menu__item"><a href="/component/hoge/">リンク</a></li>
          <li class="acs-site-sub-menu__item"><a href="/component/hoge/">リンク</a></li>
        </ul>
      </li>
      <li class="acs-site-menu__item has-child">
        <a href="javascript:void(0);">Typography</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/typography/basic/">Basic</a></li>
          <li class="acs-site-sub-menu__item"><a href="/typography/heading/">Heading</a></li>
          <li class="acs-site-sub-menu__item"><a href="/typography/alignment/">Alignment</a></li>
          <li class="acs-site-sub-menu__item"><a href="/typography/truncation/">Truncation</a></li>
        </ul>
      </li>
      <li class="acs-site-menu__item has-child">
        <a href="javascript:void(0);">Spacing</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/spacing/hoge/">リンク</a></li>
          <li class="acs-site-sub-menu__item"><a href="/spacing/hoge/">リンク</a></li>
          <li class="acs-site-sub-menu__item"><a href="/spacing/hoge/">リンク</a></li>
        </ul>
      </li>
      <li class="acs-site-menu__item has-child">
        <a href="javascript:void(0);">Sizing</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/sizing/hoge/">リンク</a></li>
          <li class="acs-site-sub-menu__item"><a href="/sizing/hoge/">リンク</a></li>
          <li class="acs-site-sub-menu__item"><a href="/sizing/hoge/">リンク</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

      <footer class="acs-site-footer acs-theme-inverse">
        <div class="acs-site-footer__inner">
          &copy; Copyright 2017 Advance Code. All rights reserved.
        </div>
      </footer>
    </div>
  </div>
</body>
</html>