/****************************************
* Don't touch this directory And Files!
*   Gulp task will make.
****************************************/
$tpl: dd-;
$typo-theme-keys: base, disabled, inverse, heading, lead, muted, link, primary, success, info, warning, danger;
$parts-theme-keys: base, neutral, primary, shade, inverse, info, success, warning, danger, disabled;
$container-theme-keys: base, neutral, primary, shade, inverse, info, success, warning, danger;

$mq-widths: (
  xs: 544,
  sm: 768,
  md: 920,
  lg: 1200,
);

$color-brand-foundation: #fff !default;
$color-brand-base: #fff !default;
$color-brand-base-focus: #e6e6e6 !default;
$color-brand-gray: #9193a0 !default;
$color-brand-gray-dark: #838694 !default;
$color-brand-gray-light: #c8c9cf !default;
$color-brand-gray-lighter: #f1f1f3 !default;
$color-brand-primary: #c2007b !default;
$color-brand-primary-focus: #a8006b !default;
$color-brand-primary-active: #8f005b !default;
$color-brand-primary-dark: #a8006b !default;
$color-brand-primary-light: #db008b !default;
$color-brand-primary-darkfocus: #8e005b !default;
$color-brand-secondary: #202020 !default;
$color-brand-secondary-focus: #393939 !default;
$color-brand-secondary-active: #535353 !default;
$color-brand-secondary-dark: #131313 !default;
$color-brand-secondary-light: #2d2d2d !default;
$color-brand-secondary-darkfocus: #202020 !default;
$color-brand-shade: #9193a0 !default;
$color-brand-shade-focus: #7e808f !default;
$color-brand-shade-active: #6c6f7d !default;
$color-brand-shade-dark: #838694 !default;
$color-brand-shade-light: #9fa0ac !default;
$color-brand-shade-darkfocus: #757988 !default;
$color-brand-inverse: #000 !default;
$color-brand-inverse-focus: #1a1a1a !default;
$color-brand-inverse-active: #333333 !default;
$color-brand-inverse-dark: #000000 !default;
$color-brand-inverse-light: #262626 !default;
$color-brand-inverse-darkfocus: #0d0d0d !default;
$color-brand-info: #44aeea !default;
$color-brand-info-focus: #1999e2 !default;
$color-brand-info-active: #147ab4 !default;
$color-brand-info-dark: #2da4e7 !default;
$color-brand-info-light: #5bb8ed !default;
$color-brand-info-darkfocus: #1a99e1 !default;
$color-brand-success: #b3bd40 !default;
$color-brand-success-focus: #a1aa3a !default;
$color-brand-success-active: #8f9733 !default;
$color-brand-success-dark: #a1aa3a !default;
$color-brand-success-light: #bbc452 !default;
$color-brand-success-darkfocus: #8f9734 !default;
$color-brand-warning: #dd6a0a !default;
$color-brand-warning-focus: #c55e09 !default;
$color-brand-warning-active: #ac5308 !default;
$color-brand-warning-dark: #c55e09 !default;
$color-brand-warning-light: #f4760c !default;
$color-brand-warning-darkfocus: #ad5208 !default;
$color-brand-danger: #c50030 !default;
$color-brand-danger-focus: #ab002a !default;
$color-brand-danger-active: #920024 !default;
$color-brand-danger-dark: #ab002a !default;
$color-brand-danger-light: #de0036 !default;
$color-brand-danger-darkfocus: #910024 !default;
$color-brand-disabled: #f1f1f3 !default;
$color-brand-muted: #96979b !default;
$color-brand-typo: #211917 !default;
$color-brand-typo-inverse: #fff !default;
$color-divider: #c8c9cf !default;
$color-divider-focus: #c2007b !default;
$color-divider-disabled: #c8c9cf !default;
$color-typo-base: #211917 !default;
$color-typo-base-inverse: #fff !default;
$color-typo-disabled: #96979b !default;
$color-typo-inverse: #fff !default;
$color-typo-heading: #211917 !default;
$color-typo-lead: #9193a0 !default;
$color-typo-muted: #96979b !default;
$color-typo-link: #c2007b !default;
$color-typo-link-inverse: #96979b !default;
$color-typo-primary: #c2007b !default;
$color-typo-success: #b3bd40 !default;
$color-typo-info: #44aeea !default;
$color-typo-warning: #dd6a0a !default;
$color-typo-danger: #c50030 !default;
$color-parts-base-text: inherit !default;
$color-parts-base-text-focus: inherit !default;
$color-parts-base-divider: transparent !default;
$color-parts-base-divider-focus: rgba(0, 0, 0, 0) !default;
$color-parts-base-bg: transparent !default;
$color-parts-base-bg-focus: rgba(0, 0, 0, 0.05) !default;
$color-parts-base-bg-active: rgba(0, 0, 0, 0.1) !default;
$color-parts-base-accent: rgba(0, 0, 0, 0.1) !default;
$color-parts-neutral-text: #211917 !default;
$color-parts-neutral-text-focus: #211917 !default;
$color-parts-neutral-divider: #c8c9cf !default;
$color-parts-neutral-divider-focus: #babcc3 !default;
$color-parts-neutral-bg: #fff !default;
$color-parts-neutral-bg-focus: #f2f2f2 !default;
$color-parts-neutral-bg-active: #e6e6e6 !default;
$color-parts-neutral-accent: #c8c9cf !default;
$color-parts-primary-text: #fff !default;
$color-parts-primary-text-focus: #fff !default;
$color-parts-primary-divider: #a8006b !default;
$color-parts-primary-divider-focus: #8e005b !default;
$color-parts-primary-bg: #c2007b !default;
$color-parts-primary-bg-focus: #a8006b !default;
$color-parts-primary-bg-active: #8f005b !default;
$color-parts-primary-accent: #db008b !default;
$color-parts-shade-text: #fff !default;
$color-parts-shade-text-focus: #fff !default;
$color-parts-shade-divider: #838694 !default;
$color-parts-shade-divider-focus: #757988 !default;
$color-parts-shade-bg: #9193a0 !default;
$color-parts-shade-bg-focus: #7e808f !default;
$color-parts-shade-bg-active: #6c6f7d !default;
$color-parts-shade-accent: #9fa0ac !default;
$color-parts-inverse-text: #fff !default;
$color-parts-inverse-text-focus: #fff !default;
$color-parts-inverse-divider: #000000 !default;
$color-parts-inverse-divider-focus: #0d0d0d !default;
$color-parts-inverse-bg: #000 !default;
$color-parts-inverse-bg-focus: #1a1a1a !default;
$color-parts-inverse-bg-active: #333333 !default;
$color-parts-inverse-accent: #262626 !default;
$color-parts-info-text: #fff !default;
$color-parts-info-text-focus: #fff !default;
$color-parts-info-divider: #2da4e7 !default;
$color-parts-info-divider-focus: #1a99e1 !default;
$color-parts-info-bg: #44aeea !default;
$color-parts-info-bg-focus: #1999e2 !default;
$color-parts-info-bg-active: #147ab4 !default;
$color-parts-info-accent: #5bb8ed !default;
$color-parts-success-text: #fff !default;
$color-parts-success-text-focus: #fff !default;
$color-parts-success-divider: #a1aa3a !default;
$color-parts-success-divider-focus: #8f9734 !default;
$color-parts-success-bg: #b3bd40 !default;
$color-parts-success-bg-focus: #a1aa3a !default;
$color-parts-success-bg-active: #8f9733 !default;
$color-parts-success-accent: #bbc452 !default;
$color-parts-warning-text: #fff !default;
$color-parts-warning-text-focus: #fff !default;
$color-parts-warning-divider: #c55e09 !default;
$color-parts-warning-divider-focus: #ad5208 !default;
$color-parts-warning-bg: #dd6a0a !default;
$color-parts-warning-bg-focus: #c55e09 !default;
$color-parts-warning-bg-active: #ac5308 !default;
$color-parts-warning-accent: #f4760c !default;
$color-parts-danger-text: #fff !default;
$color-parts-danger-text-focus: #fff !default;
$color-parts-danger-divider: #ab002a !default;
$color-parts-danger-divider-focus: #910024 !default;
$color-parts-danger-bg: #c50030 !default;
$color-parts-danger-bg-focus: #ab002a !default;
$color-parts-danger-bg-active: #920024 !default;
$color-parts-danger-accent: #de0036 !default;
$color-parts-disabled-text: #96979b !default;
$color-parts-disabled-text-focus: #96979b !default;
$color-parts-disabled-divider: #e3e3e7 !default;
$color-parts-disabled-divider-focus: #e3e3e7 !default;
$color-parts-disabled-bg: #f1f1f3 !default;
$color-parts-disabled-bg-focus: #f1f1f3 !default;
$color-parts-disabled-bg-active: #f1f1f3 !default;
$color-parts-disabled-accent: #dbdbe0 !default;
$color-container-base-text: #211917 !default;
$color-container-base-link: #c2007b !default;
$color-container-base-bg: #fff !default;
$color-container-base-bg-focus: #f2f2f2 !default;
$color-container-base-bg-active: #e6e6e6 !default;
$color-container-base-divider: #c8c9cf !default;
$color-container-neutral-text: #211917 !default;
$color-container-neutral-link: #c2007b !default;
$color-container-neutral-bg: #f1f1f3 !default;
$color-container-neutral-bg-focus: #e3e3e7 !default;
$color-container-neutral-bg-active: #d6d6db !default;
$color-container-neutral-divider: #c8c9cf !default;
$color-container-primary-text: #fff !default;
$color-container-primary-link: #fff !default;
$color-container-primary-bg: #c2007b !default;
$color-container-primary-bg-focus: #a8006b !default;
$color-container-primary-bg-active: #8f005b !default;
$color-container-primary-divider: #a8006b !default;
$color-container-shade-text: #211917 !default;
$color-container-shade-link: #211917 !default;
$color-container-shade-bg: #9193a0 !default;
$color-container-shade-bg-focus: #7e808f !default;
$color-container-shade-bg-active: #6c6f7d !default;
$color-container-shade-divider: #838694 !default;
$color-container-inverse-text: #fff !default;
$color-container-inverse-link: #96979b !default;
$color-container-inverse-bg: #000 !default;
$color-container-inverse-bg-focus: #1a1a1a !default;
$color-container-inverse-bg-active: #333333 !default;
$color-container-inverse-divider: #000 !default;
$color-container-info-text: #44aeea !default;
$color-container-info-link: #44aeea !default;
$color-container-info-bg: #ceeaf9 !default;
$color-container-info-bg-focus: #a0d6f4 !default;
$color-container-info-bg-active: #72c2ef !default;
$color-container-info-divider: #aedcf5 !default;
$color-container-success-text: #b3bd40 !default;
$color-container-success-link: #b3bd40 !default;
$color-container-success-bg: #ebeecc !default;
$color-container-success-bg-focus: #e4e7b9 !default;
$color-container-success-bg-active: #dce1a6 !default;
$color-container-success-divider: #e3e8b9 !default;
$color-container-warning-text: #dd6a0a !default;
$color-container-warning-link: #dd6a0a !default;
$color-container-warning-bg: #fabe8b !default;
$color-container-warning-bg-focus: #f9b073 !default;
$color-container-warning-bg-active: #f7a25b !default;
$color-container-warning-divider: #f9b073 !default;
$color-container-danger-text: #fff !default;
$color-container-danger-link: #fff !default;
$color-container-danger-bg: #ff5f86 !default;
$color-container-danger-bg-focus: #ff4573 !default;
$color-container-danger-bg-active: #ff2c60 !default;
$color-container-danger-divider: #ff4573 !default;
$color-layout-foundation: #fff !default;
$color-layout-base: #fff !default;
$color-layout-base-focus: #fafafa !default;
$color-layout-base-disabled: #f1f1f3 !default;
$color-layout-base-shade: #efefef !default;
$color-layout-inverse: #000 !default;
$color-layout-mark: #fcf8e3 !default;
$color-layout-divider: #c1c1c1 !default;
$color-layout-divider-focus: #c2007b !default;
$color-layout-divider-disabled: #b7b8b9 !default;
$colors: (
  brand-foundation: $color-brand-foundation,
  brand-base: $color-brand-base,
  brand-base-focus: $color-brand-base-focus,
  brand-gray: $color-brand-gray,
  brand-gray-dark: $color-brand-gray-dark,
  brand-gray-light: $color-brand-gray-light,
  brand-gray-lighter: $color-brand-gray-lighter,
  brand-primary: $color-brand-primary,
  brand-primary-focus: $color-brand-primary-focus,
  brand-primary-active: $color-brand-primary-active,
  brand-primary-dark: $color-brand-primary-dark,
  brand-primary-light: $color-brand-primary-light,
  brand-primary-darkfocus: $color-brand-primary-darkfocus,
  brand-secondary: $color-brand-secondary,
  brand-secondary-focus: $color-brand-secondary-focus,
  brand-secondary-active: $color-brand-secondary-active,
  brand-secondary-dark: $color-brand-secondary-dark,
  brand-secondary-light: $color-brand-secondary-light,
  brand-secondary-darkfocus: $color-brand-secondary-darkfocus,
  brand-shade: $color-brand-shade,
  brand-shade-focus: $color-brand-shade-focus,
  brand-shade-active: $color-brand-shade-active,
  brand-shade-dark: $color-brand-shade-dark,
  brand-shade-light: $color-brand-shade-light,
  brand-shade-darkfocus: $color-brand-shade-darkfocus,
  brand-inverse: $color-brand-inverse,
  brand-inverse-focus: $color-brand-inverse-focus,
  brand-inverse-active: $color-brand-inverse-active,
  brand-inverse-dark: $color-brand-inverse-dark,
  brand-inverse-light: $color-brand-inverse-light,
  brand-inverse-darkfocus: $color-brand-inverse-darkfocus,
  brand-info: $color-brand-info,
  brand-info-focus: $color-brand-info-focus,
  brand-info-active: $color-brand-info-active,
  brand-info-dark: $color-brand-info-dark,
  brand-info-light: $color-brand-info-light,
  brand-info-darkfocus: $color-brand-info-darkfocus,
  brand-success: $color-brand-success,
  brand-success-focus: $color-brand-success-focus,
  brand-success-active: $color-brand-success-active,
  brand-success-dark: $color-brand-success-dark,
  brand-success-light: $color-brand-success-light,
  brand-success-darkfocus: $color-brand-success-darkfocus,
  brand-warning: $color-brand-warning,
  brand-warning-focus: $color-brand-warning-focus,
  brand-warning-active: $color-brand-warning-active,
  brand-warning-dark: $color-brand-warning-dark,
  brand-warning-light: $color-brand-warning-light,
  brand-warning-darkfocus: $color-brand-warning-darkfocus,
  brand-danger: $color-brand-danger,
  brand-danger-focus: $color-brand-danger-focus,
  brand-danger-active: $color-brand-danger-active,
  brand-danger-dark: $color-brand-danger-dark,
  brand-danger-light: $color-brand-danger-light,
  brand-danger-darkfocus: $color-brand-danger-darkfocus,
  brand-disabled: $color-brand-disabled,
  brand-muted: $color-brand-muted,
  brand-typo: $color-brand-typo,
  brand-typo-inverse: $color-brand-typo-inverse,
  divider: $color-divider,
  divider-focus: $color-divider-focus,
  divider-disabled: $color-divider-disabled,
  typo-base: $color-typo-base,
  typo-base-inverse: $color-typo-base-inverse,
  typo-disabled: $color-typo-disabled,
  typo-inverse: $color-typo-inverse,
  typo-heading: $color-typo-heading,
  typo-lead: $color-typo-lead,
  typo-muted: $color-typo-muted,
  typo-link: $color-typo-link,
  typo-link-inverse: $color-typo-link-inverse,
  typo-primary: $color-typo-primary,
  typo-success: $color-typo-success,
  typo-info: $color-typo-info,
  typo-warning: $color-typo-warning,
  typo-danger: $color-typo-danger,
  parts-base-text: $color-parts-base-text,
  parts-base-text-focus: $color-parts-base-text-focus,
  parts-base-divider: $color-parts-base-divider,
  parts-base-divider-focus: $color-parts-base-divider-focus,
  parts-base-bg: $color-parts-base-bg,
  parts-base-bg-focus: $color-parts-base-bg-focus,
  parts-base-bg-active: $color-parts-base-bg-active,
  parts-base-accent: $color-parts-base-accent,
  parts-neutral-text: $color-parts-neutral-text,
  parts-neutral-text-focus: $color-parts-neutral-text-focus,
  parts-neutral-divider: $color-parts-neutral-divider,
  parts-neutral-divider-focus: $color-parts-neutral-divider-focus,
  parts-neutral-bg: $color-parts-neutral-bg,
  parts-neutral-bg-focus: $color-parts-neutral-bg-focus,
  parts-neutral-bg-active: $color-parts-neutral-bg-active,
  parts-neutral-accent: $color-parts-neutral-accent,
  parts-primary-text: $color-parts-primary-text,
  parts-primary-text-focus: $color-parts-primary-text-focus,
  parts-primary-divider: $color-parts-primary-divider,
  parts-primary-divider-focus: $color-parts-primary-divider-focus,
  parts-primary-bg: $color-parts-primary-bg,
  parts-primary-bg-focus: $color-parts-primary-bg-focus,
  parts-primary-bg-active: $color-parts-primary-bg-active,
  parts-primary-accent: $color-parts-primary-accent,
  parts-shade-text: $color-parts-shade-text,
  parts-shade-text-focus: $color-parts-shade-text-focus,
  parts-shade-divider: $color-parts-shade-divider,
  parts-shade-divider-focus: $color-parts-shade-divider-focus,
  parts-shade-bg: $color-parts-shade-bg,
  parts-shade-bg-focus: $color-parts-shade-bg-focus,
  parts-shade-bg-active: $color-parts-shade-bg-active,
  parts-shade-accent: $color-parts-shade-accent,
  parts-inverse-text: $color-parts-inverse-text,
  parts-inverse-text-focus: $color-parts-inverse-text-focus,
  parts-inverse-divider: $color-parts-inverse-divider,
  parts-inverse-divider-focus: $color-parts-inverse-divider-focus,
  parts-inverse-bg: $color-parts-inverse-bg,
  parts-inverse-bg-focus: $color-parts-inverse-bg-focus,
  parts-inverse-bg-active: $color-parts-inverse-bg-active,
  parts-inverse-accent: $color-parts-inverse-accent,
  parts-info-text: $color-parts-info-text,
  parts-info-text-focus: $color-parts-info-text-focus,
  parts-info-divider: $color-parts-info-divider,
  parts-info-divider-focus: $color-parts-info-divider-focus,
  parts-info-bg: $color-parts-info-bg,
  parts-info-bg-focus: $color-parts-info-bg-focus,
  parts-info-bg-active: $color-parts-info-bg-active,
  parts-info-accent: $color-parts-info-accent,
  parts-success-text: $color-parts-success-text,
  parts-success-text-focus: $color-parts-success-text-focus,
  parts-success-divider: $color-parts-success-divider,
  parts-success-divider-focus: $color-parts-success-divider-focus,
  parts-success-bg: $color-parts-success-bg,
  parts-success-bg-focus: $color-parts-success-bg-focus,
  parts-success-bg-active: $color-parts-success-bg-active,
  parts-success-accent: $color-parts-success-accent,
  parts-warning-text: $color-parts-warning-text,
  parts-warning-text-focus: $color-parts-warning-text-focus,
  parts-warning-divider: $color-parts-warning-divider,
  parts-warning-divider-focus: $color-parts-warning-divider-focus,
  parts-warning-bg: $color-parts-warning-bg,
  parts-warning-bg-focus: $color-parts-warning-bg-focus,
  parts-warning-bg-active: $color-parts-warning-bg-active,
  parts-warning-accent: $color-parts-warning-accent,
  parts-danger-text: $color-parts-danger-text,
  parts-danger-text-focus: $color-parts-danger-text-focus,
  parts-danger-divider: $color-parts-danger-divider,
  parts-danger-divider-focus: $color-parts-danger-divider-focus,
  parts-danger-bg: $color-parts-danger-bg,
  parts-danger-bg-focus: $color-parts-danger-bg-focus,
  parts-danger-bg-active: $color-parts-danger-bg-active,
  parts-danger-accent: $color-parts-danger-accent,
  parts-disabled-text: $color-parts-disabled-text,
  parts-disabled-text-focus: $color-parts-disabled-text-focus,
  parts-disabled-divider: $color-parts-disabled-divider,
  parts-disabled-divider-focus: $color-parts-disabled-divider-focus,
  parts-disabled-bg: $color-parts-disabled-bg,
  parts-disabled-bg-focus: $color-parts-disabled-bg-focus,
  parts-disabled-bg-active: $color-parts-disabled-bg-active,
  parts-disabled-accent: $color-parts-disabled-accent,
  container-base-text: $color-container-base-text,
  container-base-link: $color-container-base-link,
  container-base-bg: $color-container-base-bg,
  container-base-bg-focus: $color-container-base-bg-focus,
  container-base-bg-active: $color-container-base-bg-active,
  container-base-divider: $color-container-base-divider,
  container-neutral-text: $color-container-neutral-text,
  container-neutral-link: $color-container-neutral-link,
  container-neutral-bg: $color-container-neutral-bg,
  container-neutral-bg-focus: $color-container-neutral-bg-focus,
  container-neutral-bg-active: $color-container-neutral-bg-active,
  container-neutral-divider: $color-container-neutral-divider,
  container-primary-text: $color-container-primary-text,
  container-primary-link: $color-container-primary-link,
  container-primary-bg: $color-container-primary-bg,
  container-primary-bg-focus: $color-container-primary-bg-focus,
  container-primary-bg-active: $color-container-primary-bg-active,
  container-primary-divider: $color-container-primary-divider,
  container-shade-text: $color-container-shade-text,
  container-shade-link: $color-container-shade-link,
  container-shade-bg: $color-container-shade-bg,
  container-shade-bg-focus: $color-container-shade-bg-focus,
  container-shade-bg-active: $color-container-shade-bg-active,
  container-shade-divider: $color-container-shade-divider,
  container-inverse-text: $color-container-inverse-text,
  container-inverse-link: $color-container-inverse-link,
  container-inverse-bg: $color-container-inverse-bg,
  container-inverse-bg-focus: $color-container-inverse-bg-focus,
  container-inverse-bg-active: $color-container-inverse-bg-active,
  container-inverse-divider: $color-container-inverse-divider,
  container-info-text: $color-container-info-text,
  container-info-link: $color-container-info-link,
  container-info-bg: $color-container-info-bg,
  container-info-bg-focus: $color-container-info-bg-focus,
  container-info-bg-active: $color-container-info-bg-active,
  container-info-divider: $color-container-info-divider,
  container-success-text: $color-container-success-text,
  container-success-link: $color-container-success-link,
  container-success-bg: $color-container-success-bg,
  container-success-bg-focus: $color-container-success-bg-focus,
  container-success-bg-active: $color-container-success-bg-active,
  container-success-divider: $color-container-success-divider,
  container-warning-text: $color-container-warning-text,
  container-warning-link: $color-container-warning-link,
  container-warning-bg: $color-container-warning-bg,
  container-warning-bg-focus: $color-container-warning-bg-focus,
  container-warning-bg-active: $color-container-warning-bg-active,
  container-warning-divider: $color-container-warning-divider,
  container-danger-text: $color-container-danger-text,
  container-danger-link: $color-container-danger-link,
  container-danger-bg: $color-container-danger-bg,
  container-danger-bg-focus: $color-container-danger-bg-focus,
  container-danger-bg-active: $color-container-danger-bg-active,
  container-danger-divider: $color-container-danger-divider,
  layout-foundation: $color-layout-foundation,
  layout-base: $color-layout-base,
  layout-base-focus: $color-layout-base-focus,
  layout-base-disabled: $color-layout-base-disabled,
  layout-base-shade: $color-layout-base-shade,
  layout-inverse: $color-layout-inverse,
  layout-mark: $color-layout-mark,
  layout-divider: $color-layout-divider,
  layout-divider-focus: $color-layout-divider-focus,
  layout-divider-disabled: $color-layout-divider-disabled,
);