<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Component | Lists</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/dest/css/acs.css">

<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/script.js"></script>
</head>
<body>
  <div class="acs-site acs-site--limit-size_hoge">
    <div class="acs-site__container">
      <div class="acs-site-banner">
        <a class="acs-site-banner__link" href="/">
          <span class="acs-site-banner__logo-icon icon-logo-ac-mono">
            <span class="path1"></span><span class="path2"></span>
          </span>
          <span class="acs-logo-text acs-logo-inverse">ADVANCE CODE</span>
        </a>
        <a class="acs-site__btn-menu" href="javascript:void(0);"><span>menu</span></a>
      </div>

      <header class="acs-site__header">
        <h1 class="acs-site__title">
<!--
          <span class="icon-logo-ac">
            <span class="path1"></span><span class="path2"></span>
          </span>
          &nbsp;
-->
          Component | Lists        </h1>
        <div class="acs-site__lead">
          <div class="acs-site__lead-container">
            ボタン要素です。
          </div>
        </div>
      </header>

      <div class="acs-site-content">
        
<!-- Vertical -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Vertical</h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <ul>
    <li>Vertical List</li>
    <li>List Item</li>
    <li>List Item</li>
  </ul>
</section>

<!-- Inline -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Inline</h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <ul class="acs-list--inline">
    <li>Inline List</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
  </ul>
</section>

<!-- Dotted -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Dotted</h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <ul class="acs-list--dotted">
    <li>Dotted List</li>
    <li>List Item</li>
    <li>List Item</li>
  </ul>

  <ul class="acs-list--dotted acs-list--inline">
    <li>Inline Dotted List</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
  </ul>
</section>

<!-- Ordered -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Ordered</h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <ul class="acs-list--ordered">
    <li>Ordered List</li>
    <li>List Item</li>
    <li>List Item</li>
  </ul>

  <ul class="acs-list--ordered acs-list--inline">
    <li>Inline Ordered List</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
  </ul>
</section>

<!-- Dividers -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Dividers</h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <ul class="acs-has-dividers--v">
    <li class="acs-item">Vertical List</li>
    <li class="acs-item">List Item</li>
    <li class="acs-item">List Item</li>
  </ul>
</section>

<!-- Single Divider -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Single Divider</h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <ul>
    <li>List Item</li>
    <li>List Item</li>
    <li class="acs-has-divider--t">Has Top Divider</li>
  </ul>
</section>

<!-- Vertical Spacing -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Vertical Spacing</h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <ul class="acs-has-dividers--v acs-list--has-space">
    <li class="acs-item">Vertical List</li>
    <li class="acs-item">List Item</li>
    <li class="acs-item">List Item</li>
  </ul>
</section>

<!-- Inline Spacing -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Inline Spacing</h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <ul class="acs-list--inline acs-list--has-space">
    <li>Inline List</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
  </ul>

  <ul class="acs-list--dotted acs-list--inline acs-list--has-space">
    <li>Inline Dotted List</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
  </ul>

  <ul class="acs-list--ordered acs-list--inline acs-list--has-space">
    <li>Inline Ordered List</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
  </ul>
</section>

<!-- Description List -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Description List</h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <dl>
    <dt>First Label:</dt>
    <dd>Description for first label</dd>
    <dt>Second Label:</dt>
    <dd>Description for second label</dd>
  </dl>
</section>

<!-- Name Value Pair -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section">Name Value Pair</h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <dl class="acs-dl--inline">
    <dt class="acs-dl--label acs-truncate" title="First Label">First Label:</dt>
    <dd class="acs-dl--detail acs-truncate">Description for first label</dd>
    <dt class="acs-dl--label acs-truncate" title="Second Label">Second Label:</dt>
    <dd class="acs-dl--detail acs-truncate">Description for second label</dd>
  </dl>
</section>
      </div>

      <nav class="acs-site-navigation acs-theme-inverse">
  <div class="acs-site-navigation__inner">
    <p>text</p>
    <ul class="acs-site-menu">
      <li class="acs-site-menu__item">
        <a href="/">Top</a>
      </li>
      <li class="acs-site-menu__item has-child">
        <a href="javascript:void(0);">Layout</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/layout/themes/">Themes</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/grid/">Grid</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/sizing/">Sizing</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/spacing/">Spacing</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/floats/">Floats</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/alignment/">Alignment</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/position/">Position</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/scrollable/">Scrollable</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layout/visibility/">Visibility</a></li>
        </ul>
      </li>
      <li class="acs-site-menu__item has-child">
        <a href="javascript:void(0);">Element</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/element/hoge/">リンク</a></li>
          <li class="acs-site-sub-menu__item"><a href="/element/hoge/">リンク</a></li>
        </ul>
      </li>
      <li class="acs-site-menu__item is-active has-child">
        <a href="javascript:void(0);">Component</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/component/forms/">Forms</a></li>
          <li class="acs-site-sub-menu__item"><a href="/component/buttons/">Buttons</a></li>
          <li class="acs-site-sub-menu__item is-active"><a href="/component/lists/">Lists</a></li>
          <li class="acs-site-sub-menu__item"><a href="/component/hoge/">リンク</a></li>
        </ul>
      </li>
      <li class="acs-site-menu__item has-child">
        <a href="javascript:void(0);">Typography</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/typography/basic/">Basic</a></li>
          <li class="acs-site-sub-menu__item"><a href="/typography/heading/">Heading</a></li>
          <li class="acs-site-sub-menu__item"><a href="/typography/alignment/">Alignment</a></li>
          <li class="acs-site-sub-menu__item"><a href="/typography/truncation/">Truncation</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

      <footer class="acs-site-footer acs-theme-inverse">
        <div class="acs-site-footer__inner">
          &copy; Copyright 2017 Advance Code. All rights reserved.
        </div>
      </footer>
    </div>
  </div>
</body>
</html>