@charset "utf-8";

//
// Grid
//

@mixin grid($suf: "") {

  .#{$tpl}#{$suf}grid {
    display: flex;
    align-items: flex-start;

    // alignment
    &--align-start  { justify-content: flex-start; }
    &--align-center { justify-content: center; }
    &--align-space  { justify-content: space-around; }
    &--align-spread { justify-content: space-between; }
    &--align-end    { justify-content: flex-end; }

    // vertical alignment
    &--vertical-align-start  { align-items: flex-start; }
    &--vertical-align-center { align-items: center; }
    &--vertical-align-end    { align-items: flex-end; }

    // vertical stretch
    &--vertical-stretch {
      align-items: stretch;
      align-content: stretch;
    }

    // pull padded
    &--pull-padded {
      margin-left: -$spacing-sm;
      margin-right: -$spacing-sm;

      @each $key, $space in $spacings {
        &-#{$key} {
          margin-left: -$space;
          margin-right: -$space;
        }
      }
    }
  }

  // column
  .#{$tpl}#{$suf}col {
    flex: 1 1 auto;

    // column bump
    &--bump-left  { margin-left : auto; }
    &--bump-right { margin-right: auto; }
  }

  // order
  @for $i from 1 through 12 {
    .#{$tpl}#{$suf}order--#{$i} {
      order: $i;
    }
  }

  // wrap
  .#{$tpl}#{$suf}wrap {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .#{$tpl}#{$suf}no-flex {
    flex: none;
  }

  .#{$tpl}#{$suf}shrink-none {
    flex-shrink: none;
  }
}

@include grid;
@include mq-wide { @include grid("wide-"); }
@include mq-narrow { @include grid("narrow-"); }

@include mq-min("xs") { @include grid("min-xs-"); }
@include mq-min("sm") { @include grid("min-sm-"); }
@include mq-min("lg") { @include grid("min-lg-"); }

@include mq-max("xs") { @include grid("max-xs-"); }
@include mq-max("sm") { @include grid("max-sm-"); }
@include mq-max("lg") { @include grid("max-lg-"); }

@include mq("xs") { @include grid("xs-"); }
@include mq("sm") { @include grid("sm-"); }
@include mq("md") { @include grid("md-"); }
@include mq("lg") { @include grid("lg-"); }
