@charset "utf-8";

//
// Container Sizes
//
$container-size-xs: 100%;
$container-size-sm: 100%;
$container-size-md: 992px;
$container-size-lg: 1200px;

// * Alias Map
$container-sizes: (
  xs: $container-size-xs,
  sm: $container-size-sm,
  md: $container-size-md,
  lg: $container-size-lg,
);
