<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>Components | Buttons</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=yes">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/dest/css/acs.css">

<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/script.js"></script>
</head>
<body>
  <div class="acs-site acs-site--limit-size_hoge">
    <div class="acs-site__container">
      <div class="acs-site-banner">
        <a class="acs-site-banner__link" href="/">
          <span class="acs-site-banner__logo-icon icon-logo-ac-mono">
            <span class="path1"></span><span class="path2"></span>
          </span>
          <span class="acs-logo-text acs-logo-inverse">ADVANCE CODE</span>
        </a>
        <a class="acs-site__btn-menu" href="javascript:void(0);"><span>menu</span></a>
      </div>

      <header class="acs-site__header">
        <h1 class="acs-site__title">
<!--
          <span class="icon-logo-ac">
            <span class="path1"></span><span class="path2"></span>
          </span>
          &nbsp;
-->
          Components | Buttons        </h1>
        <div class="acs-site__lead">
          <div class="acs-site__lead-container">
            ボタン要素です。
          </div>
        </div>
      </header>

      <div class="acs-site-content">
        
<!-- Base -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section"><span class="acs-inner">Base</span></h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <a class="acs-btn" href="javascript:void(0);">a</a>
  <button class="acs-btn" type="button">button</button>
  <input class="acs-btn" type="button" value="input">
  <input class="acs-btn" type="submit" value="submit">
  <input class="acs-btn" type="reset" value="reset">
</section>

<!-- Types -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section"><span class="acs-inner">Types</span></h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <a class="acs-btn" href="javascript:void(0);">base</a>
  <a class="acs-btn--neutral" href="javascript:void(0);">neutral</a>
  <a class="acs-btn--shade" href="javascript:void(0);">shade</a>
  <a class="acs-btn--dark" href="javascript:void(0);">dark</a>
  <a class="acs-btn--primary" href="javascript:void(0);">primary</a>
  <a class="acs-btn--info" href="javascript:void(0);">info</a>
  <a class="acs-btn--warning" href="javascript:void(0);">warning</a>
  <a class="acs-btn--success" href="javascript:void(0);">success</a>
  <a class="acs-btn--danger" href="javascript:void(0);">danger</a>
</section>

<!-- Outline -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section"><span class="acs-inner">Outline</span></h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <a class="acs-btn--neutral acs-btn--outline" href="javascript:void(0);">neutral</a>
  <a class="acs-btn--shade acs-btn--outline" href="javascript:void(0);">shade</a>
  <a class="acs-btn--dark acs-btn--outline" href="javascript:void(0);">dark</a>
  <a class="acs-btn--primary acs-btn--outline" href="javascript:void(0);">primary</a>
  <a class="acs-btn--info acs-btn--outline" href="javascript:void(0);">info</a>
  <a class="acs-btn--warning acs-btn--outline" href="javascript:void(0);">warning</a>
  <a class="acs-btn--success acs-btn--outline" href="javascript:void(0);">success</a>
  <a class="acs-btn--danger acs-btn--outline" href="javascript:void(0);">danger</a>
</section>

<!-- Sizes -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section"><span class="acs-inner">Sizes</span></h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <a class="acs-btn--neutral acs-btn--icon" href="javascript:void(0);">icon : アイコン</a>
  <a class="acs-btn--neutral acs-btn--sm" href="javascript:void(0);">sm : 小</a>
  <a class="acs-btn--neutral" href="javascript:void(0);">(default) : 中</a>
  <a class="acs-btn--neutral acs-btn--lg" href="javascript:void(0);">lg : 大</a>
</section>

<!-- Icon -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section"><span class="acs-inner">Icon</span></h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

    <a class="acs-btn acs-btn--icon" href="javascript:void(0);"><span class="icon-asterisk"></span></a>
    <a class="acs-btn--neutral acs-btn--icon" href="javascript:void(0);"><span class="icon-plus"></span></a>
    <a class="acs-btn--shade acs-btn--icon" href="javascript:void(0);"><span class="icon-question"></span></a>
    <a class="acs-btn--dark acs-btn--icon" href="javascript:void(0);"><span class="icon-minus"></span></a>
    <a class="acs-btn--primary acs-btn--icon" href="javascript:void(0);"><span class="icon-glass"></span></a>
    <a class="acs-btn--info acs-btn--icon" href="javascript:void(0);"><span class="icon-music"></span></a>
    <a class="acs-btn--warning acs-btn--icon" href="javascript:void(0);"><span class="icon-search"></span></a>
    <a class="acs-btn--success acs-btn--icon" href="javascript:void(0);"><span class="icon-envelope-o"></span></a>
    <a class="acs-btn--danger acs-btn--icon" href="javascript:void(0);"><span class="icon-heart"></span></a>
  </section>

<!-- States -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section"><span class="acs-inner">States</span></h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <dl>
    <dt>無効状態</dt>
      <a class="acs-btn is-disabled" href="javascript:void(0);">base</a>
      <a class="acs-btn acs-btn--outline is-disabled" href="javascript:void(0);">base</a>
      <a class="acs-btn--neutral is-disabled" href="javascript:void(0);">neutral</a>
      <a class="acs-btn--neutral acs-btn--outline is-disabled" href="javascript:void(0);">neutral</a>
      <a class="acs-btn--shade is-disabled" href="javascript:void(0);">shade</a>
      <a class="acs-btn--shade acs-btn--outline is-disabled" href="javascript:void(0);">shade</a>
      <a class="acs-btn--dark is-disabled" href="javascript:void(0);">dark</a>
      <a class="acs-btn--dark acs-btn--outline is-disabled" href="javascript:void(0);">dark</a>
      <a class="acs-btn--primary is-disabled" href="javascript:void(0);">primary</a>
      <a class="acs-btn--primary acs-btn--outline is-disabled" href="javascript:void(0);">primary</a>
      <a class="acs-btn--info is-disabled" href="javascript:void(0);">info</a>
      <a class="acs-btn--info acs-btn--outline is-disabled" href="javascript:void(0);">info</a>
      <a class="acs-btn--warning is-disabled" href="javascript:void(0);">warning</a>
      <a class="acs-btn--warning acs-btn--outline is-disabled" href="javascript:void(0);">warning</a>
      <a class="acs-btn--success is-disabled" href="javascript:void(0);">success</a>
      <a class="acs-btn--success acs-btn--outline is-disabled" href="javascript:void(0);">success</a>
      <a class="acs-btn--danger is-disabled" href="javascript:void(0);">danger</a>
      <a class="acs-btn--danger acs-btn--outline is-disabled" href="javascript:void(0);">danger</a>
    <dd>
    </dd>
  </dl>
</section>

<!-- Group -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section"><span class="acs-inner">Group</span></h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <div class="acs-m-v--xs">
    <div class="acs-btn-group">
      <a class="acs-btn" href="javascript:void(0);">base - 1</a>
      <a class="acs-btn" href="javascript:void(0);">base - 2</a>
      <a class="acs-btn" href="javascript:void(0);">base - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--neutral">
      <a class="acs-btn" href="javascript:void(0);">neutral - 1</a>
      <a class="acs-btn" href="javascript:void(0);">neutral - 2</a>
      <a class="acs-btn" href="javascript:void(0);">neutral - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--shade">
      <a class="acs-btn" href="javascript:void(0);">shade - 1</a>
      <a class="acs-btn" href="javascript:void(0);">shade - 2</a>
      <a class="acs-btn" href="javascript:void(0);">shade - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--dark">
      <a class="acs-btn" href="javascript:void(0);">dark - 1</a>
      <a class="acs-btn" href="javascript:void(0);">dark - 2</a>
      <a class="acs-btn" href="javascript:void(0);">dark - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--primary">
      <a class="acs-btn" href="javascript:void(0);">primary - 1</a>
      <a class="acs-btn" href="javascript:void(0);">primary - 2</a>
      <a class="acs-btn" href="javascript:void(0);">primary - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--info">
      <a class="acs-btn" href="javascript:void(0);">info - 1</a>
      <a class="acs-btn" href="javascript:void(0);">info - 2</a>
      <a class="acs-btn" href="javascript:void(0);">info - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--warning">
      <a class="acs-btn" href="javascript:void(0);">warning - 1</a>
      <a class="acs-btn" href="javascript:void(0);">warning - 2</a>
      <a class="acs-btn" href="javascript:void(0);">warning - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--success">
      <a class="acs-btn" href="javascript:void(0);">success - 1</a>
      <a class="acs-btn" href="javascript:void(0);">success - 2</a>
      <a class="acs-btn" href="javascript:void(0);">success - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--danger">
      <a class="acs-btn" href="javascript:void(0);">danger - 1</a>
      <a class="acs-btn" href="javascript:void(0);">danger - 2</a>
      <a class="acs-btn" href="javascript:void(0);">danger - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group is-disabled">
      <a class="acs-btn" href="javascript:void(0);">disabled - 1</a>
      <a class="acs-btn" href="javascript:void(0);">disabled - 2</a>
      <a class="acs-btn" href="javascript:void(0);">disabled - 3</a>
    </div>
  </div>
</section>

<!-- Group Outline -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section"><span class="acs-inner">Group Outline</span></h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <div class="acs-m-v--xs">
    <div class="acs-btn-group--neutral acs-btn-group--outline">
      <a class="acs-btn" href="javascript:void(0);">neutral - 1</a>
      <a class="acs-btn" href="javascript:void(0);">neutral - 2</a>
      <a class="acs-btn" href="javascript:void(0);">neutral - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--shade acs-btn-group--outline">
      <a class="acs-btn" href="javascript:void(0);">shade - 1</a>
      <a class="acs-btn" href="javascript:void(0);">shade - 2</a>
      <a class="acs-btn" href="javascript:void(0);">shade - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--dark acs-btn-group--outline">
      <a class="acs-btn" href="javascript:void(0);">dark - 1</a>
      <a class="acs-btn" href="javascript:void(0);">dark - 2</a>
      <a class="acs-btn" href="javascript:void(0);">dark - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--primary acs-btn-group--outline">
      <a class="acs-btn" href="javascript:void(0);">primary - 1</a>
      <a class="acs-btn" href="javascript:void(0);">primary - 2</a>
      <a class="acs-btn" href="javascript:void(0);">primary - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--info acs-btn-group--outline">
      <a class="acs-btn" href="javascript:void(0);">info - 1</a>
      <a class="acs-btn" href="javascript:void(0);">info - 2</a>
      <a class="acs-btn" href="javascript:void(0);">info - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--warning acs-btn-group--outline">
      <a class="acs-btn" href="javascript:void(0);">warning - 1</a>
      <a class="acs-btn" href="javascript:void(0);">warning - 2</a>
      <a class="acs-btn" href="javascript:void(0);">warning - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--success acs-btn-group--outline">
      <a class="acs-btn" href="javascript:void(0);">success - 1</a>
      <a class="acs-btn" href="javascript:void(0);">success - 2</a>
      <a class="acs-btn" href="javascript:void(0);">success - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group--danger acs-btn-group--outline">
      <a class="acs-btn" href="javascript:void(0);">danger - 1</a>
      <a class="acs-btn" href="javascript:void(0);">danger - 2</a>
      <a class="acs-btn" href="javascript:void(0);">danger - 3</a>
    </div>
  </div>
  <div class="acs-m-v--xs">
    <div class="acs-btn-group is-disabled acs-btn-group--outline">
      <a class="acs-btn" href="javascript:void(0);">disabled - 1</a>
      <a class="acs-btn" href="javascript:void(0);">disabled - 2</a>
      <a class="acs-btn" href="javascript:void(0);">disabled - 3</a>
    </div>
  </div>
</section>


<!-- Group Sizes -->
<section class="acs-section acs-container">
  <h2 class="acs-h-section"><span class="acs-inner">Group Sizes</span></h2>
  <div class="acs-small">
    テキストが入ります。
  </div>

  <div class="acs-m-v--xs">
    <div class="acs-btn-group--neutral acs-btn-group--sm">
      <a class="acs-btn" href="javascript:void(0);">項目1</a>
      <a class="acs-btn" href="javascript:void(0);">項目2</a>
      <a class="acs-btn" href="javascript:void(0);">項目3</a>
    </div>
  </div>

  <div class="acs-m-v--xs">
    <div class="acs-btn-group--neutral">
      <a class="acs-btn" href="javascript:void(0);">項目1</a>
      <a class="acs-btn" href="javascript:void(0);">項目2</a>
      <a class="acs-btn" href="javascript:void(0);">項目3</a>
    </div>
  </div>

  <div class="acs-m-v--xs">
    <div class="acs-btn-group--neutral acs-btn-group--lg">
      <a class="acs-btn" href="javascript:void(0);">項目1</a>
      <a class="acs-btn" href="javascript:void(0);">項目2</a>
      <a class="acs-btn" href="javascript:void(0);">項目3</a>
    </div>
  </div>
</section>
      </div>

      <nav class="acs-site-navigation">
  <div class="acs-site-navigation__inner">
    <p>text</p>
    <ul class="acs-site-menu">
      <li class="acs-site-menu__item">
        <a href="/">Top</a>
      </li>
      <li class="acs-site-menu__item has-child">
        <a href="javascript:void(0);">Layouts</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/layouts/themes/">Themes</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layouts/grid/">Grid</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layouts/sizing/">Sizing</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layouts/spacing/">Spacing</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layouts/floats/">Floats</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layouts/alignment/">Alignment</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layouts/position/">Position</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layouts/scrollable/">Scrollable</a></li>
          <li class="acs-site-sub-menu__item"><a href="/layouts/visibility/">Visibility</a></li>
        </ul>
      </li>
      <li class="acs-site-menu__item has-child">
        <a href="javascript:void(0);">Elements</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/elements/hoge/">リンク</a></li>
          <li class="acs-site-sub-menu__item"><a href="/elements/hoge/">リンク</a></li>
        </ul>
      </li>
      <li class="acs-site-menu__item is-active has-child">
        <a href="javascript:void(0);">Components</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/components/forms/">Forms</a></li>
          <li class="acs-site-sub-menu__item"><a href="/components/icons/">Icons</a></li>
          <li class="acs-site-sub-menu__item is-active"><a href="/components/buttons/">Buttons</a></li>
          <li class="acs-site-sub-menu__item"><a href="/components/badges/">Badges</a></li>
          <li class="acs-site-sub-menu__item"><a href="/components/breadcrumbs/">Breadcrumbs</a></li>
          <li class="acs-site-sub-menu__item"><a href="/components/cards/">Cards</a></li>
          <li class="acs-site-sub-menu__item"><a href="/components/data-tables/">DataTables</a></li>
          <li class="acs-site-sub-menu__item"><a href="/components/images/">Images</a></li>
          <li class="acs-site-sub-menu__item"><a href="/components/lists/">Lists</a></li>
          <li class="acs-site-sub-menu__item"><a href="/components/media-objects/">Media Objects</a></li>
        </ul>
      </li>
      <li class="acs-site-menu__item has-child">
        <a href="javascript:void(0);">Typographies</a>
        <ul class="acs-site-sub-menu">
          <li class="acs-site-sub-menu__item"><a href="/typographies/basic/">Basic</a></li>
          <li class="acs-site-sub-menu__item"><a href="/typographies/heading/">Heading</a></li>
          <li class="acs-site-sub-menu__item"><a href="/typographies/alignment/">Alignment</a></li>
          <li class="acs-site-sub-menu__item"><a href="/typographies/truncation/">Truncation</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

      <footer class="acs-site-footer acs-theme-inverse">
        <div class="acs-site-footer__inner">
          &copy; Copyright 2017 Advance Code. All rights reserved.
        </div>
      </footer>
    </div>
  </div>
</body>
</html>